# After interpolate then delete absent number in certain frameNum

0709 : **11415** 번 frame 부터 2 번 입장

0604 : **21120~25179** frame동안 10번 없었음

In [1]:
import numpy as np
import pandas as pd

df= pd.read_csv("Result-0604-Fin.csv")
df

,Unnamed: 0,frameNum,1_X,1_Y,2_X,2_Y,3_X,3_Y,4_X,4_Y,...,nc7,nc8,nc9,nc10,nc11,nc12,nc13,nc14,nc15,nc16
0,0,1,821.0,259.0,718.0,300.0,682.0,628.0,685.0,700.0,...,False,False,False,False,False,False,False,False,True,True
1,1,2,821.0,259.0,711.0,303.0,680.0,630.0,685.0,700.0,...,False,False,False,False,False,False,False,False,True,True
2,2,3,821.0,259.0,714.0,302.0,681.0,630.0,685.0,700.0,...,False,False,False,False,False,False,False,False,True,True
3,3,4,821.0,259.0,717.0,301.0,681.0,630.0,685.0,700.0,...,False,False,False,False,False,False,False,False,True,True
4,4,5,821.0,259.0,713.0,301.0,681.0,630.0,685.0,700.0,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47859,47859,47860,1114.0,276.0,669.0,717.0,1113.0,274.0,1056.0,819.0,...,False,True,False,False,True,False,False,False,True,True
47860,47860,47861,1114.0,276.0,666.0,718.0,1113.0,274.0,1056.0,818.0,...,False,True,False,False,True,False,False,False,True,True
47861,47861,47862,1114.0,276.0,667.0,718.0,1113.0,274.0,1054.0,819.0,...,True,True,False,False,True,False,False,False,True,True
47862,47862,47863,1114.0,276.0,669.0,717.0,1113.0,274.0,1054.0,819.0,...,True,True,False,False,True,False,False,False,True,True
47863,47863,47864,1114.0,276.0,666.0,718.0,1113.0,274.0,1055.0,817.0,...,True,True,False,False,True,False,False,False,True,True

In [2]:
start_frame=21120
end_frame= 25179

for index in df.frameNum:
    if index>=start_frame and index <= end_frame:
        df["10_X"][index] = np.nan
        df["10_Y"][index] = np.nan

df.to_csv("Result_0604_#10_21120_25179.csv")

C:\Users\82108\AppData\Local\Temp/ipykernel_22356/1907091259.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["10_X"][index] = np.nan
C:\Users\82108\AppData\Local\Temp/ipykernel_22356/1907091259.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["10_Y"][index] = np.nan
C:\Users\82108\AppData\Local\Temp/ipykernel_22356/1907091259.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["2_X"][0] = np.nan
C:\Users\82108\AppData\Local\Temp/ipykernel_22356/1907091259.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["2_Y"][0] = np.nan